<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel global_config search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="cid" data-fieldname="cid" >


	<label class="r-search-label control-label" for="{$labelfor_cid}">
		{$label global_config cid }	</label>
	<div class="r-search-option">
		{$searchtype_cid}
	</div>
	<div class="r-search-field">
		{$cid_editcontrol}	</div>
	<div class="r-search-field">
		{$cid_editcontrol1}
	</div>
	
</div>

{END cid_fieldblock}
											
{BEGIN Modulo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Modulo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Modulo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="Modulo" data-fieldname="Modulo" >


	<label class="r-search-label control-label" for="{$labelfor_Modulo}">
		{$label global_config Modulo }	</label>
	<div class="r-search-option">
		{$searchtype_Modulo}
	</div>
	<div class="r-search-field">
		{$Modulo_editcontrol}	</div>
	<div class="r-search-field">
		{$Modulo_editcontrol1}
	</div>
	
</div>

{END Modulo_fieldblock}
											
{BEGIN GEntidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_GEntidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="GEntidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="GEntidad" data-fieldname="GEntidad" >


	<label class="r-search-label control-label" for="{$labelfor_GEntidad}">
		{$label global_config GEntidad }	</label>
	<div class="r-search-option">
		{$searchtype_GEntidad}
	</div>
	<div class="r-search-field">
		{$GEntidad_editcontrol}	</div>
	<div class="r-search-field">
		{$GEntidad_editcontrol1}
	</div>
	
</div>

{END GEntidad_fieldblock}
											
{BEGIN GURL_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_GURL}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="GURL{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="GURL" data-fieldname="GURL" >


	<label class="r-search-label control-label" for="{$labelfor_GURL}">
		{$label global_config GURL }	</label>
	<div class="r-search-option">
		{$searchtype_GURL}
	</div>
	<div class="r-search-field">
		{$GURL_editcontrol}	</div>
	<div class="r-search-field">
		{$GURL_editcontrol1}
	</div>
	
</div>

{END GURL_fieldblock}
											
{BEGIN GURLHOME_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_GURLHOME}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="GURLHOME{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="GURLHOME" data-fieldname="GURLHOME" >


	<label class="r-search-label control-label" for="{$labelfor_GURLHOME}">
		{$label global_config GURLHOME }	</label>
	<div class="r-search-option">
		{$searchtype_GURLHOME}
	</div>
	<div class="r-search-field">
		{$GURLHOME_editcontrol}	</div>
	<div class="r-search-field">
		{$GURLHOME_editcontrol1}
	</div>
	
</div>

{END GURLHOME_fieldblock}
											
{BEGIN EmailBCC_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_EmailBCC}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="EmailBCC{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="EmailBCC" data-fieldname="EmailBCC" >


	<label class="r-search-label control-label" for="{$labelfor_EmailBCC}">
		{$label global_config EmailBCC }	</label>
	<div class="r-search-option">
		{$searchtype_EmailBCC}
	</div>
	<div class="r-search-field">
		{$EmailBCC_editcontrol}	</div>
	<div class="r-search-field">
		{$EmailBCC_editcontrol1}
	</div>
	
</div>

{END EmailBCC_fieldblock}
											
{BEGIN EmailAdmin_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_EmailAdmin}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="EmailAdmin{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="EmailAdmin" data-fieldname="EmailAdmin" >


	<label class="r-search-label control-label" for="{$labelfor_EmailAdmin}">
		{$label global_config EmailAdmin }	</label>
	<div class="r-search-option">
		{$searchtype_EmailAdmin}
	</div>
	<div class="r-search-field">
		{$EmailAdmin_editcontrol}	</div>
	<div class="r-search-field">
		{$EmailAdmin_editcontrol1}
	</div>
	
</div>

{END EmailAdmin_fieldblock}
											
{BEGIN logo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_logo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="logo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="logo" data-fieldname="logo" >


	<label class="r-search-label control-label" for="{$labelfor_logo}">
		{$label global_config logo }	</label>
	<div class="r-search-option">
		{$searchtype_logo}
	</div>
	<div class="r-search-field">
		{$logo_editcontrol}	</div>
	<div class="r-search-field">
		{$logo_editcontrol1}
	</div>
	
</div>

{END logo_fieldblock}
											
{BEGIN mailserver_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_mailserver}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="mailserver{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="mailserver" data-fieldname="mailserver" >


	<label class="r-search-label control-label" for="{$labelfor_mailserver}">
		{$label global_config mailserver }	</label>
	<div class="r-search-option">
		{$searchtype_mailserver}
	</div>
	<div class="r-search-field">
		{$mailserver_editcontrol}	</div>
	<div class="r-search-field">
		{$mailserver_editcontrol1}
	</div>
	
</div>

{END mailserver_fieldblock}
											
{BEGIN correosmtp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_correosmtp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="correosmtp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="correosmtp" data-fieldname="correosmtp" >


	<label class="r-search-label control-label" for="{$labelfor_correosmtp}">
		{$label global_config correosmtp }	</label>
	<div class="r-search-option">
		{$searchtype_correosmtp}
	</div>
	<div class="r-search-field">
		{$correosmtp_editcontrol}	</div>
	<div class="r-search-field">
		{$correosmtp_editcontrol1}
	</div>
	
</div>

{END correosmtp_fieldblock}
											
{BEGIN GVersion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_GVersion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="GVersion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="GVersion" data-fieldname="GVersion" >


	<label class="r-search-label control-label" for="{$labelfor_GVersion}">
		{$label global_config GVersion }	</label>
	<div class="r-search-option">
		{$searchtype_GVersion}
	</div>
	<div class="r-search-field">
		{$GVersion_editcontrol}	</div>
	<div class="r-search-field">
		{$GVersion_editcontrol1}
	</div>
	
</div>

{END GVersion_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
